.scene3d{
  -webkit-perspective: 1000px;
  perspective: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.object3d{
  position: absolute;
  width: inherit;
  height: inherit;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.noTextSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bubble {
  position: absolute;
  overflow: hidden;
  background-color: rgba(166, 199, 18, 0.83);
  -webkit-transform-origin: 50% 50% 0px;
  border-radius: 50%;
  color: #333;
  text-align: center;
  box-shadow: 2px 2px 20px rgba(117, 140, 17, 0.83);
}

.bubble > * {
  max-width: 100%;
  max-height: 100%;
}